.page-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .4s .2s ease-in-out;
    transition: all .4s .2s ease-in-out;
    background-color: #1f1b2d;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
}

    .page-loading.active {
        opacity: 1;
        visibility: visible;
    }

.page-loading-inner {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    opacity: 0;
}

.page-loading.active > .page-loading-inner {
    opacity: 1;
}

.page-loading-inner > span {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    color: #fff;
}

.page-spinner {
    display: inline-block;
    width: 2.75rem;
    height: 2.75rem;
    margin-bottom: .75rem;
    vertical-align: text-bottom;
    border: .15em solid #9691a4;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner .75s linear infinite;
    animation: spinner .75s linear infinite;
}

.card > .loading-img,
.card > .overlay,
.info-box > .loading-img,
.info-box > .overlay,
.overlay-wrapper > .loading-img,
.overlay-wrapper > .overlay,
.small-box > .loading-img,
.small-box > .overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.card .overlay,
.info-box .overlay,
.overlay-wrapper .overlay,
.small-box .overlay {
    border-radius: .25rem;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(255,255,255,.7);
    display: -ms-flexbox;
    display: none;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 50;
}

    .card .overlay > .fa,
    .card .overlay > .fab,
    .card .overlay > .far,
    .card .overlay > .fas,
    .card .overlay > .glyphicon,
    .card .overlay > .ion,
    .info-box .overlay > .fa,
    .info-box .overlay > .fab,
    .info-box .overlay > .far,
    .info-box .overlay > .fas,
    .info-box .overlay > .glyphicon,
    .info-box .overlay > .ion,
    .overlay-wrapper .overlay > .fa,
    .overlay-wrapper .overlay > .fab,
    .overlay-wrapper .overlay > .far,
    .overlay-wrapper .overlay > .fas,
    .overlay-wrapper .overlay > .glyphicon,
    .overlay-wrapper .overlay > .ion,
    .small-box .overlay > .fa,
    .small-box .overlay > .fab,
    .small-box .overlay > .far,
    .small-box .overlay > .fas,
    .small-box .overlay > .glyphicon,
    .small-box .overlay > .ion {
        color: #343a40;
    }

.overlay-show {
    display: flex !important;
}

.modal-content {
    border-radius: 0;
}

@-webkit-keyframes spinner {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.card-img-hover {
    border-radius: 0;
}

.btn {
    border-radius: 0;
    padding: 7px 10px;
}
