@inject IViewRenderService InjView
@inject ICurrentUserService InjUser

@model Pages 

@{
    ViewData["Title"] = "Dashboard";
    var LnkHost = InjView.HostURL;
    var CurUser = InjUser.GetInfo();
}

<div class="header">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-end">
                <div class="col">
                    <h6 class="header-pretitle">Bike Rentals</h6>
                    <h1 class="header-title">My Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-md-12 col-xl-12">
                <img src="/assets//svg/happiness.svg" alt="Dashboard" class="img-fluid mt-6 mb-4" style="max-width: 272px; display: block; margin: 0 auto;">
                <p class="text-muted text-center">
                    Today is a great day, Goodluck <span class="text-dark">@CurUser.Name</span>.
                </p>
            </div>
        </div>
    </div>
</div>