<div class="modal fade small-box" id="signin-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered p-2 my-0 mx-auto" style="max-width: 950px;">
        <div class="modal-content bg-dark border-light">
            <div class="modal-body px-0 py-2 py-sm-0">
                <button class="btn-close btn-close-white position-absolute top-0 end-0 mt-3 me-3" type="button" data-bs-dismiss="modal"></button>
                <div class="row mx-0 align-items-center">
                    <div class="col-md-6 border-end-md border-light p-4 p-sm-5">
                        <img class="d-block mx-auto" src="~/assets/svg//signin-dark.svg" width="344" alt="Illustartion">
                    </div>
                    <div class="col-md-6 px-4 pt-2 pb-4 px-sm-5 pb-sm-5 pt-md-5">
                        <form method="post" class="needs-validation"
                              asp-action="login" asp-controller="account" asp-area="cms"
                              data-return="@Url.Action("index", "home", new { area = "cms" })" data-loader="#FrmProcs" data-reload="1" onSubmit="return OnFormModal(this);">
                            <div class="mb-4">
                                <label class="form-label text-light mb-2" for="signin-email">Username</label>
                                <input class="form-control form-control-light" type="text" name="Username" placeholder="Enter your username" required="">
                            </div>
                            <div class="mb-4">
                                <div class="password-toggle">
                                    <input class="form-control form-control-light" type="password" name="Password" placeholder="Password" required="">
                                    <label class="password-toggle-btn" aria-label="Show/hide password">
                                        <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                    </label>
                                </div>
                            </div>
                            <button id="BtnLgn" class="btn btn-primary btn-lg w-100" type="submit">Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="FrmProcs" class="overlay">
        <span class="spinner-border text-success" role="status"></span>
    </div>
</div>

<div class="modal fade" id="signup-modal" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered p-2 my-0 mx-auto" style="max-width: 950px;">
        <div class="modal-content bg-dark border-light">
            <div class="modal-body px-0 py-2 py-sm-0">
                <button class="btn-close btn-close-white position-absolute top-0 end-0 mt-3 me-3" type="button" data-bs-dismiss="modal"></button>
                <div class="row mx-0 align-items-center">
                    <div class="col-md-6 border-end-md border-light p-4 p-sm-5">
                        <h2 class="h3 text-light mb-4 mb-sm-5">Join Bike Rentals.<br>Get premium benefits:</h2>
                        <ul class="list-unstyled mb-4 mb-sm-5">
                            <li class="d-flex mb-2">
                                <i class="fi-check-circle text-primary mt-1 me-2"></i>
                                <span class="text-light">Easily manage your wishlist</span>
                            </li>
                            <li class="d-flex mb-0">
                                <i class="fi-check-circle text-primary mt-1 me-2"></i>
                                <span class="text-light">Leave reviews</span>
                            </li>
                        </ul>
                        <div class="text-light mt-sm-4 pt-md-3">
                            <span class="opacity-60">Already have an account? </span>
                            <a class="text-light" href="#signin-modal" data-bs-toggle="modal" data-bs-dismiss="modal">Sign in</a>
                        </div>
                    </div>
                    <div class="col-md-6 px-4 pt-2 pb-4 px-sm-5 pb-sm-5 pt-md-5">
                        <form class="needs-validation"
                              asp-action="register" asp-controller="account" asp-area="cms"
                              data-loader="#FrmProcs" data-reload="1" onSubmit="return OnFormModal(this);">
                            <div class="mb-4">
                                <label class="form-label text-light" for="signup-name">Full name</label>
                                <input class="form-control form-control-light" type="text" name="name" placeholder="Enter your full name" required="">
                            </div>
                            <div class="mb-4">
                                <label class="form-label text-light" for="signup-email">Email address</label>
                                <input class="form-control form-control-light" type="email" name="email" placeholder="Enter your email" required="">
                            </div>
                            <div class="mb-4">
                                <label class="form-label text-light" for="signup-password">Password <span class="fs-sm opacity-50">min. 6 char</span></label>
                                <div class="password-toggle">
                                    <input class="form-control form-control-light" type="password" name="password" minlength="6" maxlength="20" required="">
                                    <label class="password-toggle-btn" aria-label="Show/hide password">
                                        <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label class="form-label text-light" for="signup-password-confirm">Confirm password</label>
                                <div class="password-toggle">
                                    <input class="form-control form-control-light" type="password" name="password_confirm"  minlength="6" maxlength="20" required="">
                                    <label class="password-toggle-btn" aria-label="Show/hide password">
                                        <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-check form-check-light mb-4">
                                <input class="form-check-input" type="checkbox" id="agree-to-terms" required="">
                                <label class="form-check-label" for="agree-to-terms"><span class="opacity-70">By joining, I agree to the</span> <a href="#" class="text-light">Terms of use</a> <span class="opacity-70">and</span> <a href="#" class="text-light">Privacy policy</a></label>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg w-100">Submit Registration</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>