@inject IViewRenderService InjView

@model Pages

@{
    var LnkHost = InjView.HostURL;
    ViewData["Title"] = "Sales - Bike Rentals";
}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="header">
                <div class="header-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="header-pretitle">Bike Rentals</h6>
                            <h1 class="header-title">Sales</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-contents">
                <div class="small-box">
                    <div id="CnReports" class="table-responsive">
                        @{ await Html.RenderPartialAsync("_Sales", Model); }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>