@inject IViewRenderService VwRender

@model User_Account

@{
    Layout = null;
    var LnkHost = VwRender.HostURL;
}

<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-card card">
            <div class="card-header">
                <h4 class="card-header-title">
                    Change Password
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="ModaliaClose('#MdlForm')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form class="card-body small-box" method="post"
                  asp-action="PasswordChange" asp-controller="Account" asp-area="cms"
                  data-button-confirm="#BtnPConfirm" data-button-locker="#PColM" data-button-autoclose="true" data-button-modalia="#MdlForm" onSubmit="return ModaliaSubmit(this);">
                <div class="form-group">
                    <label>Old Password</label>
                    <input type="password" name="password_old" class="form-control" placeholder="Old Password" required="" maxlength="25">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <div class="input-group">
                        <input type="password" name="password_new" class="form-control form-control-appended" placeholder="New Password" required="" maxlength="25">
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <div class="input-group">
                        <input type="password" name="password_confirm" class="form-control form-control-appended" placeholder="Confirm Password" required="" maxlength="25">
                    </div>
                </div>
                <button id="BtnPConfirm" class="btn btn-lg btn-block btn-primary mb-3" type="submit">
                    Confirm Changes
                </button>
            </form>
            <div id="PColM" class="overlay">
                <i class="fa fa-1x fa-sync-alt rotate"></i>
            </div>
        </div>
    </div>
</div>